@model VistaCompra

<h1>Carrito Libros</h1>

<h1>Carrito</h1>
<p>
	<a class="btn btn-danger" asp-controller="Libros" asp-action="VaciarCarrito">
		Vaciar carrito
	</a>
</p>
<h2>@Model.total €</h2>
<form method="post" asp-action="ComprarCarrito" asp-controller="Libros">
	@foreach (var libro in Model.carritoCompra)
	{
		<input type="hidden" name="IdsCubo[]" value="@libro.libro.IdLibro" />
		<input type="hidden" name="Cantidades[]" value="@libro.cantidad" />
	}
	<button type="submit" class="btn btn-success">Comprar</button>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Título</th>
			<th>Autor</th>
			<th>Editorial</th>
			<th>Portada</th>
			<th>Precio</th>
			<th>Cantidad</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (CarritoCompra libro in Model.carritoCompra)
		{
			<tr>
				<td>@libro.libro.Titulo</td>
				<td>@libro.libro.Autor</td>
				<td>@libro.libro.Editorial</td>
				<td>
					<img src="~/images/@libro.libro.Portada" alt="@libro.libro.Titulo" width="100">
				</td>
				<td>@libro.libro.Precio €</td>
				<td>@libro.cantidad</td>
				<td>

					<a class="btn btn-danger"
					   asp-controller="Libros" asp-action="DeleteLibroCarrito"
					   asp-route-idlibro="@libro.libro.IdLibro">
						Eliminar
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>